build/*
.eggs/*
snowexsql.egg-info/*
dist/*
*.db
**/__pycache__/**
*.cpg
*.dbf
*.prj
*.shp
*.shx

docs/modules.rst
docs/snowexsql.rst
docs/_build/*

**/.ipynb_checkpoints/*

.coverage
coverage.xml
htmlcov/*
scripts/upload/test*.txt
.idea/
scripts/download/data/*
