{
  "production": {
    "address": "localhost",
    "db_name": "snowexsql",
    "username": "builder",
    "password": "db_builder"
  },
  "tests": {
    "address": "localhost",
    "db_name": "test",
    "username": "builder",
    "password": "db_builder"
  }
}
