-r docs/requirements.txt
-r requirements.txt
pip>=21,<22
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
coverage==4.5.4
twine==1.14.0
pytest==6.2.3
pytest-runner==5.1
snowmicropyn
jupyterlab==2.2.10
matplotlib==3.2.2
