name: CD

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3

jobs:
  dist:
    name: Distribution build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch full history
          tags: true      # Ensure tags are fetched

      - name: Verify Git tags and current commit
        run: |
          echo "Current commit:"
          git log -1 --pretty=format:"%H - %s"
          echo "Available tags:"
          git tag

      - name: Clean previous build artifacts
        run: |
          rm -rf dist build *.egg-info

      - uses: hynek/build-and-inspect-python-package@v2

  test-built-dist:
    needs: [dist]
    name: Test built distribution
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: "3.10"
      - uses: actions/download-artifact@v4
        with:
          name: Packages
          path: dist
      - name: List contents of built dist
        run: |
          ls -ltrh
          ls -ltrh dist
      - name: Publish to Test PyPI
        uses: pypa/gh-action-pypi-publish@v1.12.4
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true
          skip-existing: true
  
  check-test-pypi:
    needs: [test-built-dist]
    name: Check Test Distribution Python ${{ matrix.python-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
        runs-on: [ubuntu-latest, macos-14]
    steps:
      - name: Check pypi packages
        run: |
          sleep 3
          python -m pip install --upgrade pip

          echo "=== Testing wheel file ==="
          # Install wheel to get dependencies and check import
          python -m pip install --extra-index-url https://test.pypi.org/simple --upgrade --pre snowexsql
          python -c "import snowexsql; print(snowexsql.__version__)"
          echo "=== Done testing wheel file ==="

          echo "=== Testing source tar file ==="
          # Install tar gz and check import
          python -m pip uninstall --yes snowexsql
          python -m pip install --extra-index-url https://test.pypi.org/simple --upgrade --pre --no-binary=snowexsql snowexsql
          python -c "import snowexsql; print(snowexsql.__version__)"
          echo "=== Done testing source tar file ==="

  publish:
    needs: [dist, test-built-dist]
    name: Publish to PyPI
    environment: pypi
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: Packages
          path: dist
      - uses: pypa/gh-action-pypi-publish@v1.12.4
        if: startsWith(github.ref, 'refs/tags')
