name: Code Quality
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches:
      - master
      - 'release-*'
    paths-ignore:
      - 'docs/**'
jobs:
  run:
    runs-on: ubuntu-latest
    services:
      postgis:
        image: kartoza/postgis:14-3.2
        env:
          POSTGRES_PASSWORD: db_builder
          POSTGRES_USER: builder
          POSTGRES_DB: test
          TZ: 'UTC'
          PGTZ: 'UTC'
          POSTGIS_GDAL_ENABLED_DRIVERS: 'ENABLE_ALL'
          POSTGIS_ENABLE_OUTDB_RASTERS: 'True'
        ports:
          - 5432:5432
        volumes:
          - /home/runner/work/:/home/runner/work/
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: python3 -m pip install -e ".[dev]"
      - name: Run tests and collect coverage
        run: |
          mv credentials.json.sample credentials.json
          pytest --cov snowexsql --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
